.instagram-btn {
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    .icon-button{
        margin-top: 1px;
    }
}

.whatsapp-btn {
    background-color: #25D366;
}

.linkedin-btn {
    background-color: #0e76a8 ;
}

.github-btn {
    background-color: darkslateblue;
}

.discord-btn {
    background-color: #7289da;
}